site_name: Documents
site_url: https://eduardanderegg.ch
theme:
  name: material
  palette:
    - media: "(prefers-color-scheme: light)"
      scheme: default
      primary: indigo
      toggle:
        icon: material/brightness-7
        name: Switch to dark mode
    - media: "(prefers-color-scheme: dark)"
      scheme: slate
      primary: indigo
      toggle:
        icon: material/brightness-4
        name: Switch to light mode
  features:
    - navigation.tabs
    - header.autohide
    - navigation.top
    - content.code.copy
    - content.code.select
markdown_extensions:
  - pymdownx.superfences
  - pymdownx.tabbed:
      alternate_style: true
  - pymdownx.highlight:
      anchor_linenums: true
      line_spans: __span
      pygments_lang_class: true
  - pymdownx.inlinehilite
  - pymdownx.snippets
  - pymdownx.superfences
  - tables
  - attr_list
  - md_in_html
  - pymdownx.blocks.caption
nav:
  - Home:
      - index: ./index.md
  - CS:
      - Klasse: ./CS/Klasse.md
      - MVC: ./CS/MVC.md
      - MVCStrukturen: ./CS/MVCStrukturen.md
  - Server:
      - API: ./Server/API.md
      - MVC: ./Server/MVC.md
copyright: "Version: ${BUILD_VERSION}"






